//bg-attachments
body{
	background-image: url(..//img/iphone.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "Bellerose";
	//margin: 0 150px;
}

@media only screen and (max-height: 760px) {

	body{
		background-image: url(..//img/luffy.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-color: #222;
		transform: scale(0.5);
	}
}